.section-container-main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section-container {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  max-height: 100vh;
}

.section {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

#section1 { background-image: url('../img/catFoodBg.jpg'); }
#section2 { background-image: url('../img/catFoodBg.jpg'); }
#section3 { background-image: url('../img/catFoodBg.jpg'); }
#section4 { background-image: url('../img/grassLandBg.jpg'); }
#section5 { background-image: url('../img/grassLandBg.jpg'); }
#section6 { background-image: url('../img/grassLandBg.jpg'); }
#section7 { background-image: url('../img/grassLandBg.jpg'); }
#section8 { background-image: url('../img/grassLandBg.jpg'); }

.productImg{
  width: 80%;
  margin: 20vh auto 0vh auto;
}
.productImg img{
  margin-top: 10vh;
  width: 100%;
}

.fruit-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fruit-image {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
}

.image-one { top: 10px; left: 10px; }
.image-two { top: 10px; right: 10px; }
.image-three { bottom: 20vh; left: 10px; }
.image-four { bottom: 20vh; right: 10px; }

.fruit-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.caption {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
.caption .title{
  font-size: 4vw;
}
.caption .details{
  font-size: 3.5vw;
}
#prevButton, #nextButton {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#prevButton { left: 10px; }
#nextButton { right: 10px; }

.addition {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-sizing: border-box;
  max-height: 55%;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.addition.show {
  transform: translateY(0);
}
/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Maximum width for the modal */
  border-radius: 8px;
}

.close {
  color: #a00;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 993px) and (max-width: 1440px){
  .fruit-images, .productImg, .caption{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
 .caption{
  left: 50%;
  width: 40%;
  padding: 50px;
  height: 80%;
  margin: 5% auto 10% auto;
 }
 .caption .details{
  font-size: 18px;
 }
 .caption .title{
   font-size: 24px;
 }
 .productImg, .productImg img{
  margin-top: 0;
  margin-bottom: 100px;
 }
}
